@font-face {
  font-family: 'icomoon';
  src:  url('../fontsicon/');
  src:  url('../fontsicon/#iefix') format('embedded-opentype'),
    url('../fontsicon/icomoon.ttf?qfxbj7') format('truetype'),
    url('../fontsicon/icomoon.woff?qfxbj7') format('woff'),
    url('../fontsicon/icomoon.svg?qfxbj7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-viber-brands:before {
  content: "\e900";
  color:#fff;
}
.icon-linkedin-in-brands:before {
  content: "\e901";
  color:#fff;

}
.icon-instagram-brands:before {
  content: "\e902";
  color:#fff;

}
.icon-facebook-f-brands-1:before {
  content: "\e903";
  color:#fff;

}


